In [2]:
import os
import pandas as pd

In [156]:
df=pd.read_csv('canada_trip_data.csv')
df

,Unnamed: 0,Source,Restaurant_id,name,address,City,Country,reviews,rating,food,service,value,atmosphere,Telephone,Restaurant_url,cuisine,Pricing,About,Latitude,Longitude
0,1,https://www.tripadvisor.com/Restaurant_Review-...,d24067445,Janpath Indian Cuisine,"1689 University Ave W, Windsor, Ontario N9B 1C...","""Windsor""",Canada,0,NaN,NaN,NaN,NaN,NaN,+1 647-685-1257,"""http://janpathindiancuisine.ca"",""email"":""janp...",['Indian'],Indian,"""""",42.311413,-83.058260
1,262,https://www.tripadvisor.com/Restaurant_Review-...,d20480990,Mottola Grocery,"242 Hargrave Street, Winnipeg, Manitoba R3C 0M...","""Winnipeg""",Canada,0,NaN,NaN,NaN,NaN,NaN,+1 204-808-1400,"""http://www.mottolagrocery.com"",""email"":""tony@...","['$4 - $26', 'Italian, Pizza, Mediterranean, C...",$$ - $$$,"""The first floor of Hargrave St. Market is hom...",49.891342,-97.144740
2,348,https://www.tripadvisor.com/Restaurant_Review-...,d14089001,Kensington Sushi Market,"281 Augusta Ave, Toronto, Ontario M5T 2M1 Canada","""Toronto""",Canada,3,4.5,NaN,NaN,NaN,NaN,+1 416-250-9739,NaN,"['Japanese', 'Lunch, Dinner']",Japanese,"""""",43.655920,-79.402310
3,371,https://www.tripadvisor.com/Restaurant_Review-...,d7394416,John Juan Burrito Mexican Grill,"1091 St. Laurent Blvd, Ottawa, Ontario K1K 3B1...","""Ottawa""",Canada,98,4.5,4.5,4.5,4.5,NaN,+1 613-745-9696,"""http://johnjuan.ca/"",""email"":""info@johnjuan.ca""","['$5 - $11', 'Mexican, Fast Food, Grill', 'Veg...",$,"""Ottawa residents now have an authentic gourme...",45.426487,-75.638054
4,400,https://www.tripadvisor.com/Restaurant_Review-...,d15008449,Auberge Le Vieux Manoir Restaurant,"11 Rue Principale E, Notre Dame des Bois, Queb...","""Notre Dame des Bois""",Canada,4,4.5,NaN,NaN,NaN,NaN,+1 819-235-8989,"""https://www.aubergelevieuxmanoir.ca/index.php...",['Diner'],Diner,"""""",45.394410,-71.071160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49634,3714411,https://www.tripadvisor.com/Restaurant_Review-...,d4698269,Just Like Moms Homemade Baking,"265 Muschamp Rd, Union Bay, British Columbia V...","""Union Bay""",Canada,19,5.0,5.0,5.0,5.0,NaN,+1 250-335-0239,"""http://www.justlikemoms.ca"",""email"":""BakingMa...","['Canadian', 'Breakfast, Lunch, Dinner', 'Take...",$$ - $$$,"""Bev from Just Like Moms Homemade Baking is on...",49.551560,-124.871376
49635,3714416,https://www.tripadvisor.com/Restaurant_Review-...,d6587658,Sahan Restaurant,"2010 Lawrence Ave E Colony Plaza, Scarborough,...","""Toronto""",Canada,21,5.0,5.0,4.5,4.5,NaN,+1 416-759-7242,"""http://www.sahanrestaurant.ca""","['African', 'Halal', 'Lunch, Dinner']",$$ - $$$,"""""",43.745240,-79.296620
49636,3714526,https://www.tripadvisor.com/Restaurant_Review-...,d4848716,Pizza 'n' More eh!,"108 1st Ave, Torrington, Alberta T0M 2B0 Canada","""Torrington""",Canada,7,4.0,NaN,NaN,NaN,NaN,+1 403-631-3990,"""https://www.facebook.com/Pizza-n-More-eh-2167...","['Italian', 'Breakfast, Lunch, Dinner']",Italian,"""""",51.324055,-113.610540
49637,3714534,https://www.tripadvisor.com/Restaurant_Review-...,d5292430,Best Bite Pizza Ltd,"46372 Yale Rd, Chilliwack, British Columbia V2...","""Chilliwack""",Canada,6,4.0,NaN,NaN,NaN,NaN,+1 604-701-3334,"""http://www.bestbitepizza.com/""",['Pizza'],Pizza,"""""",49.174090,-121.942550
49638,3714591,https://www.tripadvisor.com/Restaurant_Review-...,d15601643,Mexicados Burritos & Bowls,"1022 Queen St E, Toronto, Ontario M4M 1K4 Canada","""Toronto""",Canada,5,5.0,5.0,5.0,4.5,NaN,+1 416-466-2462,"""http://www.mexicados.com/""",['Mexican'],$,"""""",43.661630,-79.338660

In [157]:
# if your dataset contains this column run this 
df.drop(columns='Unnamed: 0',inplace=True)

In [158]:
df['food']=df['food'].apply(lambda a: str(a).replace('<span class="vzATR"><span class="ui_bubble_rating bubble_',''))
df['food']=df['food'].apply(lambda a: str(a).replace('"></span></span>',''))
df['service']=df['service'].apply(lambda a: str(a).replace('<span class="vzATR"><span class="ui_bubble_rating bubble_',''))
df['service']=df['service'].apply(lambda a: str(a).replace('"></span></span>',''))
df['value']=df['value'].apply(lambda a: str(a).replace('<span class="vzATR"><span class="ui_bubble_rating bubble_',''))
df['value']=df['value'].apply(lambda a: str(a).replace('"></span></span>',''))
df['atmosphere']=df['atmosphere'].apply(lambda a: str(a).replace('<span class="vzATR"><span class="ui_bubble_rating bubble_',''))
df['atmosphere']=df['atmosphere'].apply(lambda a: str(a).replace('"></span></span>',''))

In [159]:
df['food']=df['food'].replace('10','1.0').replace('15','1.5').replace('20','2.0').replace('25','2.5').replace('30','3.0').replace('35','3.5').replace('40','4.0').replace('45','4.5').replace('50','5.0')
df['service']=df['service'].replace('10','1.0').replace('15','1.5').replace('20','2.0').replace('25','2.5').replace('30','3.0').replace('35','3.5').replace('40','4.0').replace('45','4.5').replace('50','5.0')
df['value']=df['value'].replace('10','1.0').replace('15','1.5').replace('20','2.0').replace('25','2.5').replace('30','3.0').replace('35','3.5').replace('40','4.0').replace('45','4.5').replace('50','5.0')
df['atmosphere']=df['atmosphere'].replace('10','1.0').replace('15','1.5').replace('20','2.0').replace('25','2.5').replace('30','3.0').replace('35','3.5').replace('40','4.0').replace('45','4.5').replace('50','5.0')

In [160]:
# df[['food','service','value','atmosphere']].sample(5)

In [161]:
# to explode

In [162]:
df['cuisine']=df['cuisine'].astype(str)

In [163]:
df['cuisine']=df['cuisine'].astype(str).str.strip('[]').str.split(', ')

In [164]:
df=df.explode('cuisine')

In [165]:
df['cuisine']=df['cuisine'].apply(lambda x: x.strip('[]'))

In [166]:
df['cuisine']=df['cuisine'].apply(lambda x: x.replace("'",''))

In [167]:
df.columns

Index(['Source', 'Restaurant_id', 'name', 'address', 'City', 'Country',
       'reviews', 'rating', 'food', 'service', 'value', 'atmosphere',
       'Telephone', 'Restaurant_url', 'cuisine', 'Pricing', 'About',
       'Latitude', 'Longitude'],
      dtype='object')

In [168]:
df['cuisine']=df['cuisine'].apply(lambda x:x.replace(',',''))

In [169]:
# make a new column price range from cuisine column
df['price_range'] = df['cuisine'].str.extract(r'([$€₹]\d+(?:\.\d+)? - [$€₹]\d+(?:\.\d+)?)').fillna('')

In [170]:
df['price_range'].sample(20)

29835
30540
27640
24715
6683      $4 - $6
27772
3755
6893
42989
42070
40825
11019
19001
4932
17424
4287
4649
23853
29701    $5 - $18
28094
Name: price_range, dtype: object

In [171]:
df['min_price']=df['price_range'].str.split('-').str.get(0)

In [172]:
df['max_price']=df['price_range'].str.split('-').str.get(1)

In [173]:
# df['max_price']=df['max_price'].fillna('')

In [174]:
df['reviews']=df['reviews'].fillna('')

In [175]:
# skip if review column is empty
df['reviews']=df['reviews'].apply(lambda x: x.strip('review'))

In [176]:
df['reviews']=pd.to_numeric(df['reviews'], errors='coerce').fillna(0).astype(int)

In [177]:
df['Pricing']=df['Pricing'].str.extract('(\$+)')

In [178]:
df['min_price']=df['min_price'].astype(str)
df['max_price']=df['max_price'].astype(str)

In [179]:
df['min_price']=df['min_price'].apply(lambda x:x.replace(',',''))
df['max_price']=df['max_price'].apply(lambda x:x.replace(',',''))

In [180]:
df['min_price']=df['min_price'].apply(lambda x: x.replace("₹", ""))
df['max_price']=df['max_price'].apply(lambda x: x.replace("₹", ""))

In [181]:
def convert_to_usd(price):
    if not price.startswith('$'):
        try:
            value = float(price)
            usd = value / 82  # Replace with the appropriate conversion rate
            return '${:,.2f}'.format(usd)
        except ValueError:
            pass
    return price

In [182]:
df['max_price']=df['max_price'].apply(convert_to_usd)
df['min_price']=df['min_price'].apply(convert_to_usd)

In [183]:
df['min_price']=df['min_price'].apply(lambda x:x.strip('$€₹'))
df['max_price']=df['max_price'].apply(lambda x:x.replace('$','').replace('€','').replace('₹',''))

In [184]:
df['max_price'] = pd.to_numeric(df['max_price'], errors='coerce')
df['min_price'] = pd.to_numeric(df['min_price'], errors='coerce')

In [185]:
df['Average_price']=(df['max_price']+df['min_price'])/2

In [186]:
df['City']=df['City'].astype(str)
df['City']=df['City'].apply(lambda x : x.replace('"',''))

In [187]:
pd.set_option('display.max_columns',None)
# df

In [188]:
df.drop(columns='Restaurant_id',inplace=True)

In [189]:
df['Restaurant_id']=df['Source'].str.split('-').str.get(2)

In [190]:
df=df.reindex(columns=['Source','Restaurant_id','name', 'address', 'City',
       'Country', 'reviews', 'rating', 'food', 'service', 'value',
       'atmosphere', 'Telephone', 'Restaurant_url', 'cuisine', 'Pricing',
       'About', 'Latitude', 'Longitude', 'price_range', 'min_price',
       'max_price','Average_price'])

In [191]:
df.rename(columns={'cuisine':'Typology'},inplace=True)

In [192]:
cuisine_list={
    'Japanese sweets parlour': 'Japanese',
    'Kaiseki': 'Japanese',
    'Japanese Fusion': 'Japanese',
    'Hokkaido cuisine': 'Japanese',
    'Kyoto cuisine': 'Japanese',
    'Japanese': 'Japanese',
    'Sushi': 'Japanese',
    'Kyushu cuisine': 'Japanese',
    'Kappo': 'Japanese'
    'SouthAmerican',
    'Street Food':'FastFood',
    'Fast Food':'FastFood',
    'Spanish': 'Spanish',
    'Caucasian': 'Caucasian',
    'Bar': 'Bar',
    'Steakhouse': 'Steakhouse',
    'Thai': 'Thai',
    'Filipino': 'Filipino',
    'Catalan': 'Catalan',
    'Eastern European': 'European',
    'Central European': 'European',
    'European': 'European',
    'Moroccan': 'Moroccan',
    'Dutch': 'Dutch',
    'Australian': 'Australian',
    'Austrian': 'Austrian',
    'Hawaiian': 'Hawaiian',
    'Central-Italian': 'Italian',
    'Ligurian': 'Italian',
    'Romanian': 'Italian',
    'Southern-Italian': 'Italian',
    'Northern-Italian': 'Italian',
    'Italian': 'Italian',
    'Sicilian': 'Italian',
    'Lazio': 'Italian',
    'Romagna': 'Italian',
    'Pizza': 'Italian',
    'Romana': 'Italian',
    'Polish': 'Polish',
    'Malaysian': 'Malaysian',
    'Scandinavian': 'Scandinavian',
    'Uzbek': 'Uzbek',
    'Central American': 'American',
    'Native American': 'American',
    'American': 'American',
    'South American': 'American',
    'African': 'African',
    'Latin': 'Latin',
    'Ethiopian': 'Ethiopian',
    'Cambodian': 'Cambodian',
    'Irish': 'Irish',
    'Indonesian': 'Indonesian',
    'Algerian': 'Algerian',
    'Nepali': 'Nepali',
    'Swedish': 'Swedish',
    'Slovenian': 'Slovenian',
    'Pakistani': 'Pakistani',
    'Norwegian': 'Norwegian',
    'Central Asian': 'Asian',
    'Asian': 'Asian',
    'CostaRican': 'CostaRican',
    'Ukrainian': 'Ukrainian',
    'PuertoRican': 'PuertoRican',
    'Chilean': 'Chilean',
    'Ecuadorean': 'Ecuadorean',
    'Mediterranean': 'Mediterranean',
    'Russian': 'Russian',
    'Portuguese': 'Portuguese',
    'Contemporary': 'Contemporary',
    'Cuban': 'Cuban',
    'Czech': 'Czech',
    'Fusion': 'Fusion',
    'Caribbean': 'Caribbean',
    'Arabic': 'Arabic',
    'Argentinean': 'Argentinean',
    'Guatemalan': 'Guatemalan',
    'Cajun&Creole': 'Cajun&Creole',
    'Persian': 'Persian',
    'Egyptian': 'Egyptian',
    'Yunnan': 'Yunnan',
    'Venezuelan': 'Venezuelan',
    'Colombian': 'Colombian',
    'Polynesian': 'Polynesian',
    'Peruvian': 'Peruvian',
    'Afghan': 'Afghan',
    'Swiss': 'Swiss',
    'Xinjiang': 'Chinese',
    'Chinese': 'Chinese',
    'Beijing cuisine': 'Chinese',
    'Indigenous': 'Indigenous',
    'Jamaican': 'Jamaican',
    'Shojin': 'Shojin',
    'Bahamian': 'Bahamian',
    'Tibetan': 'Tibetan',
    'Deli': 'Deli',
    'French': 'French',
    'Vietnamese': 'Vietnamese',
    'Indian': 'Indian',
    'Korean': 'Korean',
    'Calabrian': 'Calabrian',
    'Hungarian': 'Hungarian',
    'Apulian': 'Apulian',
    'Neapolitan': 'Neapolitan',
    'Danish': 'Danish',
    'SriLankan': 'SriLankan',
    'JazzBar': 'JazzBar',
    'Mexican': 'Mexican',
    'Tunisian': 'Tunisian',
    'Belgian': 'Belgian',
    'British': 'British',
    'Barbecue': 'Barbecue',
    'Southwestern': 'Southwestern',
    'Georgian': 'Georgian',
    'Bangladeshi': 'Bangladeshi',
    'Medicinalfoods': 'Medicinalfoods',
    'Campania': 'Campania',
    'Burmese': 'Burmese',
    'Welsh': 'Welsh',
    'Latvian': 'Latvian',
    'Mongolian': 'Mongolian',
    'Turkish': 'Turkish',
    'MiddleEastern': 'MiddleEastern',
    'Israeli': 'Israeli',
    'Brazilian': 'Brazilian',
    'NewZealand': 'NewZealand',
    'Taiwanese': 'Taiwanese',
    'Lebanese': 'Lebanese',
    'Armenian': 'Armenian',
    'Nigerian': 'Nigerian',
    'Balti': 'Balti',
    'Kappo': 'Kappo',
    'Sardinian': 'Sardinian',
    'Albanian': 'Albanian',
    'Greek': 'Greek',
    'Tuscan': 'Tuscan',
    'German': 'German',
    'Croatian': 'Croatian',
    'Fujian': 'Fujian',
    'Seafood': 'Seafood',
    'Canadian': 'Canadian',
    'Scottish': 'Scottish',
    'Singaporean': 'Singaporean',
    'Lombard': 'Lombard',
    'Assyrian': 'Assyrian',
    'Azerbaijani': 'Azerbaijani',
    'International': 'International'

}

In [193]:
df['cuisines']=df['Typology'].map(cuisine_list)

In [194]:
options = {
    "Vegan Options": "Vegan Options",
    "Healthy": "Healthy",
    "Vegetarian Friendly": "Vegetarian Friendly",
    "Gluten Free Options": "Gluten Free Options",
    "Halal": "Halal",
    "Kosher": "Kosher"
}

In [195]:
features = {
    "Seating": "Seating",
    "Late Night": "Late Night",
    "Reservations": "Reservations",
    "Dog Friendly": "Dog Friendly",
    "Table Service": "Table Service",
    "Takeout": "Takeout",
    "Gift Cards Available": "Gift Cards Available",
    "Outdoor Seating": "Outdoor Seating",
    "Accepts American Express": "Accepts American Express",
    "Parking Available": "Parking Available",
    "Waterfront": "Waterfront",
    "Accepts Visa": "Accepts Visa",
    "Playgrounds": "Playgrounds",
    "Free Wifi": "Free Wifi",
    "Private Dining": "Private Dining",
    "Drive Thru": "Drive Thru",
    "Validated Parking": "Validated Parking",
    "Cash Only": "Cash Only",
    "Beer restaurants": "Beer restaurants",
    "Accepts Mastercard": "Accepts Mastercard",
    "Digital Payments": "Digital Payments",
    "Highchairs Available": "Highchairs Available",
    "Nonsmoking restaurants": "Nonsmoking restaurants",
    "Beach": "Beach",
    "Delivery": "Delivery",
    "Serves Alcohol": "Serves Alcohol",
    "Accepts Credit Cards": "Accepts Credit Cards",
    "Wheelchair Accessible": "Wheelchair Accessible",
    "Non-smoking restaurants": "Non-smoking restaurants",
    "Street Parking": "Street Parking",
    "Family style": "Family style",
    "Street Food": "Street Food",
    "Drinks": "Drinks",
    "Live Music": "Live Music",
    "Television": "Television",
    "Valet Parking": "Valet Parking",
    "Jazz Bar": "Jazz Bar",
    "Fruit parlours": "Fruit parlours",
    "Sports bars": "Sports bars",
    "Accepts Discover": "Accepts Discover",
    "Free off-street parking": "Free off-street parking",
    "Buffet": "Buffet"
}

In [196]:
df['Dietry']=df['Typology'].map(options)
df['Features']=df['Typology'].map(features)

In [197]:
df.reset_index(drop=True,inplace=True)

In [198]:
# df.drop(columns='Unnamed: 0',inplace=True)

In [342]:
df[['price_range','min_price','max_price','Average_price']].sample(20)

       price_range  min_price  max_price  Average_price
93981                     NaN        NaN            NaN
193075                    NaN        NaN            NaN
225035                    NaN        NaN            NaN
60116                     NaN        NaN            NaN
131144                    NaN        NaN            NaN
149484                    NaN        NaN            NaN
218664                    NaN        NaN            NaN
80326                     NaN        NaN            NaN
242855                    NaN        NaN            NaN
94644                     NaN        NaN            NaN
53713                     NaN        NaN            NaN
203537    $4 - $23        4.0       23.0           13.5
161927                    NaN        NaN            NaN
114058                    NaN        NaN            NaN
75659                     NaN        NaN            NaN
48777                     NaN        NaN            NaN
35784                     NaN        NaN            NaN
59391                     NaN        NaN            NaN
140845                    NaN        NaN            NaN
25                        NaN        NaN            NaN

In [215]:
# df.to_csv('cucina_the_palm_processed.csv')

In [343]:
# if you want to push dataset into bigquery then convert it into str and follow the below steps
df=df.astype(str)

In [344]:
df.reset_index(drop=True,inplace=True)

In [345]:
df.shape

(248813, 26)

In [62]:
# df.to_gbq(project_id='developmentphase1', destination_table = "TestingAndPOC1.tripadvisor_sydney_processed", if_exists='append')

C:\Users\mahes\AppData\Local\Programs\Python\Python310\lib\site-packages\google\auth\_default.py:83: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [153]:
df.Dietry.unique()

array(['nan', 'Vegetarian Friendly', 'Gluten Free Options', 'Healthy',
       'Vegan Options', 'Kosher', 'Halal'], dtype=object)

In [346]:
df.shape

(248813, 26)

In [347]:
df.to_csv('canada_transformer.csv')